
body {
    font-family: 'Garamond', sans-serif;
	color: #c0c0c0;
    background-image: url(images/background.png); 
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
    line-height: 1.6em;
}

header {
	background-color: #1a1f29;
	padding: 5px;
	margin: 0px;
    border-radius: 8px;
	border: 2px solid #c0c0c0; 
}

header h1 {
	 font-style: italic;
	 text-align: right;
	 padding: 5px;
}
 
nav {
    text-align: center;
    border: 2px solid #c0c0c0;
    border-radius: 8px;	
}

nav ul li {
	padding: 5px;
	display: inline;
}

nav a {
    color: #d4af37; 
    margin: 0px 10px;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
}

div.tableconst {
	display: table;
	border-spacing: 10px;
	margin: 0px auto;
}

div.tablerow {
	display: table-row;
    border-spacing: 10px;
}

p#author {
	float: left;
    padding: 5px;
    margin: 0px;	
}

div#main {
    text-aline: left;
	max-width: 600px;
	display: table-cell;
	padding: 10px;
	background-color: #1a1f29cc;
    border-radius: 8px;
	border-spacing: 10px;
}

div#list {
	border-spacing: 10px;
    display: table-cell;
	padding: 10px 10px;
    background-color: #1a1f29cc;
    border-radius: 8px;
}

#container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #1a1f29cc;
    border-radius: 8px;
	font-size: 1.2em;
}

h1, h2, h3 {
    color: #d4af37;
	text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0px;
}

th img {
   margin: 0px;
   display: block;
}

#table_book th, #table_book td {
	border-radius: 8px;
    border: 2px solid white;
    padding: 10px;
	text-align: center;
}

#table_book th {
    background-color: #252a35;
	text-align: center;
}

#table_book a {
	color: #c0c0c0;
	display: block;
	font-style: italic;
	padding: 5px;
	text-decoration: none;
}

#table_book a:hover {
	color: #d4af37;
}

.flexbox {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10px 20px;
}

.item {
	background-color: #1a1f29cc;
	border-radius: 8px;
	text-align: left;
	padding: 10px;
	width: 400px;
}

.item img {
	padding: 0px 10px;
	float: left;
    display: block;
}
	
#form {
	padding: 10px;
	background-color: #1a1f29cc;
	border-radius: 8px;
	margin: 10px auto;
	width: 1000px;
}

#form legend{
	color: #d4af37; 
	font-size: 1.2em;
}
	
input, textarea {
    width: 500px;
	padding: 10px 0px;
    margin: 10px;
    background: #0a0e14;
    border: 1px solid #d4af37;
    color: white;
}

button {
    background: #d4af37;
    color: black;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

button:hover {
    background: #fff;
}
